name: Build and Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    name: Deploy to GitHub pages
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 18.x
      uses: actions/setup-node@v1
      with:
        node-version: 18.x

    - name: install
      run: npm install

    - name: build sitemap
      run: npm run build:sitemap

    - name: build
      env:
        NODE_ENV: production
      run: npm run build

    - name: deploy to gh-pages
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/master'
      with:
        lfs: true
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build
